.navbar {
    display: flex;
    justify-content: space-between; /* Ensure space between navbar items */
    align-items: center;
    padding: 10px; /* Optional: add padding to the navbar */
    background-color: #171616;
}

.navbar-buttons {
    display: flex;
    gap: 180px; /* Adjust spacing between buttons */
    flex-grow: 1; /* Allows this section to take available space */
    justify-content: center; /* Center align buttons within this container */
}

.navbar-buttons button {
    background-color: #ea0d0d; /* Default background color */
    border: none;
    color: white;
    padding: 10px 20px; /* Adjust padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px; /* Adjust font size */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Adjust border radius */
}

.navbar-buttons button:hover {
    background-color: #81060c; /* Hover background color */
}

.logout-button {
    background-color: rgb(241, 113, 9) !important; /* Force red color */
    color: white; /* Ensure text is readable */
    border: none;
    padding: 10px 20px; /* Match padding with other buttons */
    font-size: 13px; /* Match font size with other buttons */
    border-radius: 4px; /* Match border radius with other buttons */
}

.logout-button:hover {
    background-color: rgb(112, 37, 3) !important; /* Darker red color on hover */
}