#coach {
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: black;
    padding: 20px; 
    box-sizing: border-box;
  }
  

#teacher{
    height: 80vh;
    background-color: coral;
    border-radius: 35px;
}

#coachMessage{
    font-size: xx-large;
    width: 540px;
    font-style: italic;
}
