/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
  background-color: #f4f4f9;
}

.form-block {
  position: relative;
  margin: 10px auto;
  width: 285px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 2px; 
  color: #fff;
  box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
}

.form-block__header {
  margin-bottom: 10px;
}

.form-block__header h1 {
  font-size: 30px;
  margin: 0 0 20px;
}

.form-block__input-wrapper {
  height: 110px; 
  position: relative;
  margin-bottom: 2px;
  transition: all 0.25s cubic-bezier(.36, 1, .62, .98) 0.3s;
}

.form-group__input {
  display: block;
  font-size: 15px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
}

.form-group__input:focus {
  outline: none;
  border: 1px solid #fff;
  background: transparent;
}

.button {
  display: inline-block;
  padding: 15px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  border-radius: 2px; 
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
}

.button--primary {
  background: #ED6A5E; 
  color: #fff;
}

.button:hover {
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.15);
}

.full-width {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-block__input-wrapper_FIDE_ID {
  animation: fadeIn 1s ease-out forwards;

  display: block;
  font-size: 15px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
}