#greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#greeting > * {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
    will-change: transform, opacity;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out forwards;
    gap: 20px;
  }

  .header-with-rooks {
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.login {
    background-color: #007bff;
    color: white;
}

.signup {
    background-color: #28a745;
    color: white;
}

.button:hover {
    transform: scale(1.05);
}

.rook{
    height: 90px;
}

.login-form,
.signup-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



.rook{
    height: 80px;
}

/* Arrow animation */
.arrow {
    margin-top: 120px; /* Adds space above the arrow */
    width: 100px; /* Adjust the size of the arrow */
    height: 100px;
    animation: bob 1.5s infinite; /* Animation for the bobbing effect */
  }
  
  @keyframes bob {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  body.scroll-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

 
.video-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.background-video {
  width: 100%;
  max-height: 50%; /* Adjust height as needed */
  object-fit: cover;
  z-index: -1;
}

  

