body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling for the whole document */
  background: linear-gradient(135deg, #1f1c2c, #928dab);
}

