
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling for the whole document */
  background-color: #1f1f1f;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.section {
  width: 100%;
  padding: 20px 0; /* Adjust padding to control the vertical gap between sections */
}


#coach,
#player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  background-color: black;
  padding: 20px; /* Add padding for visual spacing */
  box-sizing: border-box; /* Ensure padding does not affect width */
}

/* Responsive Design */
@media (max-width: 768px) {
  #coach,
  #player {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    gap: 20px;
  }
}
